*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    width: 100%;
    height: auto;
}
/* code for the header portion */
.header{
    width: 100vw;
    height: 3rem;
    margin: 2rem;
    display: grid;

}
.title{
    text-decoration: underline;
}
.header p
{
    display: grid;
    justify-content: start;
}
.title{
    display: grid;
    justify-content: center;
}
/* end of header  */
/* start container  */
.container{
    width: 90vw;
    /* height: auto; */
    margin:1rem auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(2,1fr);
    /* justify-content: space-between; */
   gap: 1rem;
}
.box1,.box2{
    display: flex;
    /* width: 20vw; */
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3rem;
    border: 8px solid rgba(128, 128, 128, 0.261);
    margin: 1rem;
}
.b_title{
    color: rgb(12, 123, 12);
    font-size: 1rem;
    margin-bottom: 1rem;
}
.b_text{
    color: black;
}
.date{
    margin-bottom: 1rem;
}
.b_text{
    margin-bottom: 1rem;
}
.continue{
margin: 0;
}